Host *
  Protocol 2
  ServerAliveInterval 60
  ServerAliveCountMax 5

Host deb
  Hostname deb.devbliss.com
  User deb

Host jenkins-slave
  Hostname d-13.spreegle.de

Host d-14
  Hostname d-14.spreegle.de
  User root

Host bingo
  Hostname d-v227-xen

Host bingo-lxc
  Hostname d-v226-xen
  User root

Host jura-bingo
  Hostname d-v231-xen

Host jura-bingo-lxc
  Hostname d-v230-xen

Host jenkins-master
  Hostname jenkins.devbliss.com
  User jenkins

Host github
  Hostname github.com
  User git

Host blissdoc
    Hostname d-v140.spreegle.de
