Host *
  ControlPath ~/.ssh/master-%l-%r@%h:%p
  ControlMaster auto
  Protocol 2
  ServerAliveInterval 60

Host deb
  Hostname deb.devbliss.com
  User deb

Host bingo
  Hostname bingo.devbliss.com

Host jenkins-slave
  Hostname d-13.spreegle.de

Host d-14
  Hostname d-14.spreegle.de
  User root

Host jenkins-master
  Hostname jenkins.devbliss.com
  User jenkins

Host github
  Hostname github.com
  User git

Host blissdoc
    Hostname d-v140.spreegle.de
